@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@font-face {
  font-family: FontBold;
  src: url("../fontes/the_bold_font/THEBOLDFONT.ttf");
}
@media (max-width: 882px) {
  /* Esse bloco se aplica a viewports <= 882px */
  .Services-container {
    height: auto !important;
  }
  .advantages {
    height: auto !important;
  }
  .first-container {
    height: auto !important;
    padding-bottom: 20vh;
  }
}
@media (max-width: 700px) {
  .textoSale {
    width: 50vw !important;
  }
}
@media (max-width: 452px) {
  .textoSale {
    width: 60vw !important;
  }
  .Services-container {
    background-image: none;
    background-color: #fafafa;
  }
  .first-container {
    background-image: none;
    background-color: #fafafa;
  }
}
@media (max-width: 660px) {
  .PlaceVideo {
    flex-wrap: wrap;
  }
  .buttons {
    width: 50vw;
  }
  .buttonSpan1 {
    width: 50vw !important;
  }
  .buttonSpan2 {
    width: 50vw !important;
  }
}
@media (max-width: 616px) {
  .img-sale {
    height: 40vh !important;
    width: auto !important;
    max-width: 100vw !important;
  }
}
@media (max-width: 433px) {
  .img-sale {
    height: 30vh !important;
    width: auto !important;
    max-width: 90vw !important;
  }
}
@media (max-width: 500px) {
  .flags {
    height: 30px !important;
    width: auto;
  }
  #Select {
    font-size: 14px;
  }
}
* {
  margin: 0px;
  padding: 0px;
}

#Select {
  font-family: FontBold !important;
}

.flags {
  height: 50px !important;
  width: auto;
  cursor: pointer;
}

.first-container {
  height: 100vh;
  width: 100%;
  background-image: url("../images/red-stonkofc-2.webp");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.first-container .first-h1 {
  width: auto;
  text-align: center;
  font-family: FontBold;
}

.PlaceVideo {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttonSpan1 {
  padding: 15px;
  background-color: #ff0000;
  color: #fafafa;
  font-family: "Rubik", sans-serif;
  border-radius: 10px;
  box-shadow: 1px 10px 20px 6px #ff0000;
  border: #fafafa;
}
.buttonSpan1:hover {
  background-color: rgba(250, 250, 250, 0.537254902);
  color: #ff0000;
  text-decoration: underline;
  box-shadow: none;
  border: 1px solid #ff0000;
}

.buttonSpan2 {
  padding: 15px;
  background-color: #ff0000;
  color: #fafafa;
  display: inline-block;
  font-family: "Rubik", sans-serif;
  border-radius: 10px;
  box-shadow: 1px 10px 20px 6px #ff0000;
  border: #fafafa;
}
.buttonSpan2:hover {
  background-color: rgba(250, 250, 250, 0.5647058824);
  color: #ff0000;
  text-decoration: underline;
  box-shadow: none;
  border: 1px solid #ff0000;
}

.buttons {
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.Services-container {
  height: 104vh;
  width: auto;
  background-image: url("../images/red-right.webp");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-y: hidden;
}

.h3-service {
  width: auto;
  text-align: center;
  color: #ff0000;
  overflow: hidden;
  font-family: FontBold;
  font-weight: bold;
  font-size: 3rem;
}

.h3-TU {
  width: auto;
  text-align: center;
  color: #ff0000;
  overflow: hidden;
  font-family: FontBold;
  font-weight: bold;
  font-size: 1.5rem;
}

.btn-TU {
  background-color: #ff0000;
  color: #fafafa;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 1px 10px 20px 6px #ff0000;
  border: #fafafa;
  overflow: hidden;
  font-family: FontBold;
  font-weight: bold;
  font-size: 1.3rem;
}
.btn-TU:hover {
  background-color: #fafafa;
  color: #ff0000;
  box-shadow: none;
  border: 1px solid #ff0000;
}

.smartplayer-video-wrap {
  height: auto !important;
}

#smartplayer#smartplayer#smartplayer .smartplayer-video-wrap .smartplayer-video-current {
  height: auto !important;
}

#smartplayer#smartplayer#smartplayer .smartplayer-content {
  height: auto !important;
}

#smartplayer {
  position: relative;
  width: 700px !important;
  padding: 0.25% 0px 0px !important;
  height: 400px !important;
}

.advantages {
  height: 78vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
}

.img-adv {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-sale {
  height: 40vh;
  width: auto;
}

.text-img {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.textoSale {
  width: 30vw;
  margin-top: 4vh;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
}

@media (max-width: 700px) {
  #smartplayer {
    width: 400px !important;
    padding: 0.25% 0px 0px !important;
    height: 300px !important;
  }
}
@media (max-width: 420px) {
  #smartplayer {
    width: 300px !important;
    padding: 0.25% 0px 0px !important;
    height: 250px !important;
  }
}

/*# sourceMappingURL=style.css.map */
