@import 'fontes.scss';
@import 'responsividade.scss';
@import 'services.scss';


*{
    margin: 0px;
    padding: 0px;
    
}

.first-container{
    height: 100vh;
    width: 100%;
    background-image: url('../images/red-stonkofc-2.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .first-h1{
        width: auto;
        text-align: center;
        font-family: FontBold;
    }
}

.PlaceVideo{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

// .videoLomb{
//     height: 50vh;
//     width: auto;
// }

.buttonSpan1{
    // width: auto;
    padding: 15px;
    background-color: #ff0000;
    color: #fafafa;
    font-family: 'Rubik', sans-serif;
    border-radius: 10px;
    box-shadow: 1px 10px 20px 6px rgba(255,0,0,1);
    border: #fafafa;

    &:hover{
        background-color: #fafafa;
        color: #ff0000;
        text-decoration: underline;
        box-shadow: none;
        border: 1px solid #ff0000;
    }
}

.buttonSpan2{
    padding: 15px;
    background-color: #ff0000;
    color: #fafafa;
    display: inline-block;
    font-family: 'Rubik', sans-serif;
    border-radius: 10px;
    box-shadow: 1px 10px 20px 6px rgba(255,0,0,1);
    border: #fafafa;

    &:hover{
        background-color: #fafafa;
        color: #ff0000;
        text-decoration: underline;
        box-shadow: none;
        border: 1px solid #ff0000;
    }
}


.buttons{
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.Services-container{
    height: 104vh;
    width: auto;
    background-image: url('../images/red-right.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: hidden;
}

.h3-service{
    width: auto;
    text-align : center;
    color      : #ff0000; 
    overflow: hidden;
    font-family: FontBold;
    font-weight: bold; font-size  : 3rem;
    
}

.h3-TU{
    width: auto;
    text-align : center;
    color      : #ff0000; 
    overflow: hidden;
    font-family: FontBold;
    font-weight: bold; font-size  : 1.5rem;
    
}

.btn-TU{
    background-color: #ff0000;
    color      : #fafafa; 
    padding: 12px;
    border-radius: 10px;
    box-shadow: 1px 10px 20px 6px rgba(255,0,0,1);
    border: #fafafa;
    overflow: hidden;
    font-family: FontBold;
    font-weight: bold; font-size  : 1.3rem;

    &:hover{
        background-color: #fafafa;
        color: #ff0000;
        box-shadow: none;
        border: 1px solid #ff0000;
    }
}

// #smartplayer#smartplayer#smartplayer .smartplayer-video-wrap .smartplayer-video{
//     height: auto !important;
// }

.smartplayer-video-wrap{
    height: auto !important;
}
#smartplayer#smartplayer#smartplayer .smartplayer-video-wrap .smartplayer-video-current{
    height: auto !important;
}

#smartplayer#smartplayer#smartplayer .smartplayer-content {
    height: auto !important;
}


#smartplayer{
    position: relative;
    width: 500px !important;
    padding: 0.25% 0px 0px !important;
    height: 300px !important;
}

.advantages{
    height: 78vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
}

.img-adv{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-sale{
    height: 40vh;
    width: auto;
}

.text-img{
    // margin-right: 10vw;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.textoSale{
    width: 30vw;
    margin-top: 4vh;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
}